<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IComplexFunctions" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://appservicesmathssvc.azurewebsites.net/ComplexFunctions.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IComplexFunctions"
                contract="WSComplexFunctionsSVC.IComplexFunctions" name="BasicHttpBinding_IComplexFunctions" />
        </client>
    </system.serviceModel>
</configuration>